/* 
    Created on : 8-okt-2014, 15:54:05
    Author     : tom.deroo
    Git repo is actief!
*/


/* * * * * ALGEMEEN * * * * */

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #4c0009;
}

div#bgimg {
    height: 100vh;
    width: 100vw;
    background: url('../img/back-perfectpizza.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

div#wrapper {
    box-sizing: border-box;
    position: relative;
    width: 920px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    opacity: 1;
    box-shadow: #303030 1px 1px 15px;
    border-radius: 20px;
    overflow: auto;
}

a:link, a:visited {
    color: #79655e;
    text-decoration: underline;
}

a:hover, a:active {
    color: #29150e;
    text-decoration: underline;
}

/* * * * * HEADER * * * * */

header, article {
    width: 900px;
    margin: auto;
    clear: both;
}

header h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 4em;
    line-height: 1em;
    color: #2c0009;
    margin: 0;
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid #63000C;
}

header h1 a:link, header h1 a:active, header h1 a:hover, header h1 a:visited {
    color: #2c0009;
    text-decoration: none;
}

header h2 {
    font-family: 'Indie Flower', sans-serif;
    margin-top: -1px;
    margin-bottom: 10px;
    padding: 0 20px 0px;
    font-weight: normal;
    color: #63000c;
}

/* * * * * ASIDE * * * * */

div#aside {
    width: 100%;
    text-align: right;
    overflow: auto;
    background-color: #fdc;
    border-radius: 20px;
}

div#quickmenu {
    float: left;
    line-height: 30px;
    padding-top: 3px;
    margin: 5px;
}

div#quickmenu a {
    background-color: #c41;
    padding: 9px 15px;
    margin-right: 7px;
    border-radius: 20px;
    color: #ccc;
    line-height: 30px;
}

div#quickmenu a:hover, div#quickmenu a:active {
    background-color: #941;
}

div#klant, div#mandjefuncs {
    box-sizing: border-box;
    vertical-align: top;
    line-height: 30px;
    float: right;
    background-color: #78000E;
    color: white;
    padding: 3px 10px;
    margin: 5px;
    border-radius: 20px;
}

div#klant div, div#mandjefuncs div {
    display: inline-block;
}

div#klant img, div#mandjefuncs img {
    position: relative;
    top: 3px;
}

div#aside a {
    text-decoration: none;
    vertical-align: top;
    color: white;
}

div#aside a:hover, div#aside a:active {
    text-decoration: underline;
}

/* * * * * ARTICLES - Algemeen * * * * */

article h3 {
    border-bottom: 1px solid #4c0009;
    font-size: 1.75em;
    margin: 3px 0 15px;
}

/* * * * * ARTICLE - Interact * * * * */

article#interact div p {
    margin: 0;
    padding: 0;
}

/* * * Error * * */

div#error {
    background-color: #fee;
    color: #c44;
    border: 1px solid #c44;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

/* * * Info * * */

div#info {
    background-color: #efe;
    color: #484;
    border: 1px solid #484;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

/* * * Interactie * * */

div#interactie {
    background-color: #eff;
    color: #488;
    border: 1px solid #488;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

/* * * * * ARTICLE - mandje * * * * */

article#mandje {
    display: none;
}

div#mandje_leveradres {
    padding: 3px;
    border: #63000C solid 1px;
    background-color: #f0e9e9;
}

div#mandje_overzicht {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

div#mandje_overzicht table, div#tempmandje_overzicht table {
    margin-top: 10px;
    border: #63000C solid 1px;
    width: 100%;
}

div#mandje_overzicht table thead tr td, div#tempmandje_overzicht table thead tr td {
    border-bottom: #63000C solid 1px;
    background-color: #f0e9e9;
}

tr.mandjelijn td {
    padding: 2px;
}

td.mandjelijn_aantal {
    width: 5%;
    text-align: left;
    padding: 2px;
}

td.mandjelijn_naam {
    width: 65%;
}

div.mandjelijn_prijs {
    width: 15%;
}

div.mandjelijn_acties {
    width: 15%;
}

div.mandjelijn_acties a {
}

tr.mandje_totaal td {
    background-color: #f0e9e9;
    border-top: #63000C solid 1px;
    font-weight: bold;
}

/* * * * * ARTICLE - commerce * * * * */

/* * * Pizzalijst * * */

div.promo_chef {
    box-shadow: #266f26 1px 1px 10px;
}
div.promo_seiz {
    box-shadow: #e61 1px 1px 10px;
}
div.promo_tijd {
    box-shadow: #615 1px 1px 10px;
}

p.promo_chef, p.promo_seiz, p.promo_tijd {
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}

p.promo_chef {
    background-color: #266f26;
    box-shadow: #266f26 1px 1px 10px;
}

p.promo_seiz {
    background-color: #e61;
    box-shadow: #e61 1px 1px 10px;
}

p.promo_tijd {
    background-color: purple;
    box-shadow: #615 1px 1px 10px;
}

.knop_inmandje {
    /*float: right;*/
}

.knop_mandje {
    display: inline-block;
    background-color: brown;
    border: 1px solid #cdc3b7;
    border-radius: 6px;
    padding: 5px;
    height: 1.6em;
    width: 1.6em;
    position: relative;
    top: 3px;
    opacity: 0.8;
}

.knop_mandje:hover, .knop_mandje:active {
    opacity: 1;
}

.faded {
    opacity: 0.5;
}

.pizzalijst_pizza {
    padding-left: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: #63000C 1px 1px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.pizzalijst_pizza h4 {
    margin: 0;
    font-size: 1.25em;
}

.pizzalijst_pizza p {
    margin: 5px 0 15px;
}
.pizza_imgdiv {
    float: left;
    position: relative;
    width: 200px;
    right: 200px;
    margin-left: -100%;
    padding: 0;
}

.pizza_tekstdiv {
    float: left;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.pizza_prijsdiv {
    float: left;
    width: 200px;
    margin-right: -200px;
    text-align: center;
}

p.pizza_nuprijs {
    margin: 0;
    padding: 4px;
    text-align: center;
    font-size: 3.25em;
    font-weight: bold;
}

p.pizza_oudprijs {
    margin: 0;
    padding: 4px;
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: line-through;
    color: red;
}

/* * * * * TEMPMANDJE * * * * */
section#tempmandje {
    background-color: white;
    position:fixed;
    left: 10vw;
    top: 10vh;
    width: 500px;
    z-index: 10000;
    box-shadow: #63000C 3px 3px 30px;
    border-radius: 20px;
    padding: 10px;
}

section#tempmandje h3 {
    margin: -10px -10px 5px;
    padding: 10px;
    background-color: #63000C;
    color: white;
    border-radius: 20px 20px 0 0;
}

section#tempmandje button {
    margin-top: 10px;
}

/* * * * * ARTICLE - user * * * * */

/*article#user {
    display: none;
    border: none;
    margin: 20px auto;
    padding: 0;
    font-family: 'Source Sans Pro';
}

article#user * {
    font-family: 'Source Sans Pro';
}*/

article#user div h3 span {
    font-size: 0.5em;
}

/* * * * * FORM Validate * * * * */

input.error {
    outline: red 1px dotted;
}

label.error {
    background-color: #c44;
    color: white;
    padding: 2px 10px;
}

p.form_info {
    font-size: 0.75em;
    margin: 0;
    padding: 5px 0;
}

/* * * * * OVERIGE * * * * */

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}
