<!DOCTYPE HTML>
<html>
    <head>
        <meta charset=utf-8>
        <title>AuthenticPizza - De smaak van toen</title>
        <link rel="stylesheet" type="text/css" href="css/pizzeria.css">
        <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/jquery-ui/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="js/jquery-ui/jquery-ui.css">
        <script type="text/javascript" src="js/pizzeria.js"></script>
    </head>

    <body>
        <div id="bgimg"></div>
        
        <div id="wrapper">
            
            <header>
                <div id="banner">
                    <h1><a href="index.php">AuthenticPizza</a></h1>
                    <h2>De smaak van toen</h2>
                </div>
                <div id="aside">
                    <div id="klant">
                        <img src="img/user20x.png" alt="User">
                        <div id="klant_identiteit"></div>
                        <div id="klant_actie_in">
                            <a href="login.php">Aanmelden of registreren</a>
                        </div>
                        <div id="klant_actie_uit">
                            <a href="#">Uitloggen</a>
                        </div>
                    </div>
                    <div id="mandje">
                        <img src="img/basket20x.png" alt="Mandje">
                        <div id="mandje_aantal"></div>
                        <div id="mandje_euro"></div>
                        <div id="mandje_acties">
                            <a id="bekijk_mandje" href="#">Bekijken</a>
                            /
                            <a id="ledig_mandje" href="#">Ledigen</a>
                        </div>
                    </div>
                </div>
                <div id="quickmenu" class="clear">
                    <ul id="menu">
                        <li><a id="link_suggesties" href="#">Suggesties</a></li>
                        <li><a id="link_aanbod" href="#">Volledig aanbod</a></li>
                    </ul>
                </div>
            </header>
            
            <article>
                <div id="error">Uw browser beschikt niet over Javascript of u hebt Javascript uitgeschakeld.<br>Update uw browser of schakel Javascript in om van deze site gebruik te maken.</div>
                
                <div id="info"></div>
                
                <div id="interactie">Test</div>
                
                <h3>Aanmelden</h3>
                <form action="action.php" method="post">
                    <input type="hidden" name="act" value="login">
                    <input type="email" size="40" name="Uz44r" placeholder="Emailadres" required><br>
                    <input type="password" size="40" name="P455w0r6" placeholder="Paswoord" required><br>
                    <input type="submit" value="Aanmelden">
                </form>
            </article>
            
            <article>
                <h3>Registreren</h3>
                <form action="action.php" method="post">
                    Login-gegevens:<br>
                    <input type="hidden" name="act" value="register">
                    <input type="email" size="40" name="Uz44r" placeholder="Emailadres" required><br>
                    <input type="password" size="40" name="P455w0r6" placeholder="Paswoord" required><br>
                    <hr>
                    Persoonsgegevens:<br>
                    <input type="text" size="40" name="vnaam" placeholder="Voornaam" required>
                    <input type="text" size="40" name="anaam" placeholder="Achternaam" required><br>
                    <br>
                    <input type="text" size="40" name="straat" placeholder="Straat" required>
                    <input type="text" size="10" name="huisnr" placeholder="Huisnr." required>
                    <input type="text" size="5" name=busnr" placeholder="Busnr."><br>
                    <input type="text" size="40" name="gemeente" placeholder="Gemeente" required>
                    <input type="text" size="10" name="postcode" placeholder="Postcode" required><br>
                    <hr>
                    <input type="submit" value="Registreren">
                </form>
            </article>
       
            {% include 'scripttimer.twig' %}
        </div>
    </body>
</html>